---
import Tile from "../ExperienceTile.astro";
---

<h2>EXPERIENCE</h2>
<Tile
  title='Founder & Lead Developer'
  business='FlavorShare'
  location='Toronto, Canada (Remote)'
  date='May 2024 - Today'
  logo='images/flavorshare.png'
  logoAlt='Advanced Utility System Logo'
/>

<Tile
  title='Junior Software Developer Internship'
  business='Advanced Utility System'
  location='Toronto, Canada (Remote)'
  date='January 2023 - December 2023'
  logo='images/advanced_utility_system.webp'
  logoAlt='Advanced Utility System Logo'
/>
