@use "colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Define CSS variables for light and dark modes */
:root {
  --background-color: #{$light-1};
  --text-color: #{$dark-1};
  --accent-color: #{$purple-1};
  --border-color: #{$light-3};
  --tag-bg-color: #{$light-2};
  --tag-text-color: #{$dark-1};
}

html.dark-mode {
  --background-color: #{$dark-1};
  --text-color: #{$light-1};
  --accent-color: #{$purple-3};
  --border-color: #{$dark-3};
  --tag-bg-color: #{$dark-2};
  --tag-text-color: #{$light-2};
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 140ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Dela Gothic One", sans-serif;
  background-image: url("images/gradiant.png");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 10s infinite;
  background-size: 200% 200%;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 3rem 0 0 0;
}

h3 {
  margin: 2rem 0 0 0;
  color: var(--accent-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

#themeToggle {
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: var(--tag-bg-color);
  cursor: pointer;
}
.sun {
  fill: var(--text-color);
  width: 50px;
  height: 50px;
}
.moon {
  fill: transparent;
  width: 50px;
  height: 50px;
}

html.dark-mode .sun {
  fill: transparent;
}
html.dark-mode .moon {
  fill: var(--text-color);
}

/* nav styles */
.nav-links {
  display: block;
  position: static;
  width: 100%;
  top: 5rem;
  margin: 0;
}

.nav-links a {
  color: var(--text-color);
  display: inline-block;
  margin: 20px 30px 20px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-image: url("images/gradiant.png");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 10s infinite;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--accent-color);
}

.img-portait {
  width: 150px;
  height: 150px;
  border-radius: 75px 75px 10px 75px;
  animation: img 2s 1;
}

@keyframes img {
  0% {
    border-radius: 75px 75px 10px 75px;
  }
  5% {
    scale: 0.9;
    border-radius: 75px 75px 75px 75px;
  }
  50% {
    scale: 1.2;
    border-radius: 10px 75px 10px 75px;
  }
  70% {
    scale: 1;
    border-radius: 75px 10px 75px 10px;
  }
  90% {
    scale: 0.9;
  }
  100% {
    scale: 1;
    border-radius: 75px 75px 10px 75px;
  }
}

.img-logo {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: 2rem 0 0 1rem;
}

.hero {
  text-align: center;
  padding: 4rem 0;
}

.hero-contact {
  margin-top: 0rem;
}

.hero-icon {
  width: 0.8rem;
  height: 0.8rem;
  fill: var(--text-color);
}

.hero-icon:hover {
  fill: var(--accent-color);
  transform: scale(1.2);
}

.experience-line {
  display: flex;
}

.experience-tile {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 25px;
  background-color: var(--tag-bg-color);
  border: 2px solid var(--border-color);
}

.experience-header {
  margin: 0;
}

.experience-description {
  margin: 0;
  color: var(--tag-text-color);
}

.skill-tags,
.project-company-contacts {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.2rem 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: var(--tag-bg-color);
  text-decoration: none;
  user-select: none;
  color: var(--tag-text-color);
}

.project-tile .tag {
  background-color: var(--background-color);
}

.project-tile {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  border-radius: 25px;
  background-color: var(--tag-bg-color);
  border: 2px solid var(--border-color);
  display: inline-flex;
}

.project-image {
  width: 40vw;
  object-fit: cover;
  border-radius: 20px;
  max-width: 600px;
}

.project-image:hover {
  width: 41vw;
}

.project-tile-content {
  margin: 0 0 0 3%;
  width: 57%;
}

.project-tile-content h3 {
  margin: 10px 0 0 0;
}

.project-company-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 1rem;
  // color: colors.$dark-1;
}

.social-icons {
  margin: 10px 0;
}

.icon-link {
  margin: 0 10px;
  text-decoration: none;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--text-color);
}

.icon:hover {
  fill: var(--accent-color);
  transition: ease-in-out 0.3s;
  transform: scale(1.1);
}

.footer-credit {
  font-size: 0.8rem;
  // color: colors.$dark-1;
}
