---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class='nav-links'>
  <div class='nav-links' style='display: flex; align-items: center;'>
    <a href='/'>benjaminlefebvre.dev</a>
    <div style='margin-left: auto;'>
      <ThemeIcon />
    </div>
  </div>
</div>
