---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Hero />

  <div class='content'>
    <h2>ABOUT</h2>
    <p>
      Welcome to my personal website! I'm a software engineer with a passion for
      web development. I'm currently working on a variety of projects, including
      this website, to showcase my skills and experience. Feel free to explore
      my site and connect with me on social media!
    </p>

    <h2>EXPERIENCE</h2>
    <div class='experience-line'>
      <div>
        <img
          src='/src/images/advanced_utility_system.webp'
          alt='Advanced Utility System Logo'
          class='img-logo'
        />
      </div>
      <div class='experience-tile'>
        <h3 class='experience-header'>Junior Software Developer Internship</h3>
        <p class='experience-description'>Advanced Utility System</p>
        <p class='experience-description'>Toronto, Canada (Remote)</p>
        <p class='experience-description'>January 2023 - December 2023</p>
      </div>
    </div>

    <h2>EDUCATION</h2>
    <div class='experience-line'>
      <div>
        <img
          src='/src/images/centennial.webp'
          alt='Centennial College Logo'
          class='img-logo'
        />
      </div>
      <div class='experience-tile'>
        <h3 class='experience-header'>Software Engineering Technology</h3>
        <p class='experience-description'>Centennial College</p>
        <p class='experience-description'>Toronto, Canada (Remote)</p>
        <p class='experience-description'>September 2021 - April 2025</p>
      </div>
    </div>

    <div class='experience-line'>
      <div>
        <img
          src='/src/images/la_cite.webp'
          alt='La Cité Collegial Logo'
          class='img-logo'
        />
      </div>
      <div class='experience-tile'>
        <h3 class='experience-header'>Advertising & Marketing Communication</h3>
        <p class='experience-description'>La Cité</p>
        <p class='experience-description'>Ottawa, Canada</p>
        <p class='experience-description'>September 2016 - April 2018</p>
      </div>
    </div>

    <h2>SKILLS</h2>
    <p>
      Welcome to my personal website! I'm a software engineer with a passion for
      web development. I'm currently working on a variety of projects, including
      this website, to showcase my skills and experience. Feel free to explore
      my site and connect with me on social media!
    </p>

    <h2>PROJECTS</h2>
    <p>
      Welcome to my personal website! I'm a software engineer with a passion for
      web development. I'm currently working on a variety of projects, including
      this website, to showcase my skills and experience. Feel free to explore
      my site and connect with me on social media!
    </p>

    <h2>CONTACT ME</h2>
    <p>
      Welcome to my personal website! I'm a software engineer with a passion for
      web development. I'm currently working on a variety of projects, including
      this website, to showcase my skills and experience. Feel free to explore
      my site and connect with me on social media!
    </p>
  </div>
</BaseLayout>
