---
import Hero from "../components/Hero.astro";
import Socials from "../components/Socials.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Hero />

  <div class='content'>
    <h2>About</h2>
    <p>
      Welcome to my personal website! I'm a software engineer with a passion for
      web development. I'm currently working on a variety of projects, including
      this website, to showcase my skills and experience. Feel free to explore
      my site and connect with me on social media!
    </p>

    <h2>Experience</h2>
    <div class='experience-tile'>
      <h3 class='experience-header'>Junior Software Developer Internship</h3>
      <p class='experience-description'>Advanced Utility System</p>
      <p class='experience-description'>Toronto, Canada (Remote)</p>
      <p class='experience-description'>January 2023 - December 2023</p>
    </div>

    <h2>Education</h2>
    <div class='experience-tile'>
      <h3 class='experience-header'>Software Engineering Technology</h3>
      <p class='experience-description'>Centennial College</p>
      <p class='experience-description'>Toronto, Canada (Remote)</p>
      <p class='experience-description'>September 2021 - April 2025</p>
    </div>

    <div class='experience-tile'>
      <h3 class='experience-header'>Advertising & Marketing Communication</h3>
      <p class='experience-description'>La Cité</p>
      <p class='experience-description'>Ottawa, Canada</p>
      <p class='experience-description'>September 2016 - April 2018</p>
    </div>

    <h2>Skills</h2>
    <p>
      Welcome to my personal website! I'm a software engineer with a passion for
      web development. I'm currently working on a variety of projects, including
      this website, to showcase my skills and experience. Feel free to explore
      my site and connect with me on social media!
    </p>

    <h2>Projects</h2>
    <p>
      Welcome to my personal website! I'm a software engineer with a passion for
      web development. I'm currently working on a variety of projects, including
      this website, to showcase my skills and experience. Feel free to explore
      my site and connect with me on social media!
    </p>
  </div>
</BaseLayout>
