---
import Hero from "../components/Sections/About/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Sections/Projects/Projects.astro";
import Experience from "../components/Sections/Experience/Experience.astro";
import Education from "../components/Sections/Education/Education.astro";
import Skills from "../components/Sections/Skills/Skills.astro";
---

<BaseLayout>
  <Hero />

  <div class='content'>
    <Experience />
    <Education />
    <Skills />
    <Project />
  </div>
</BaseLayout>
