---
import Tile from "../ExperienceTile.astro";
---

<h2>EDUCATION</h2>
<Tile
  title='Software Engineering Technology'
  business='Centennial College'
  location='Toronto, Canada (Remote)'
  date='September 2021 - April 2025'
  logo='images/centennial.webp'
  logoAlt='Centennial College Logo'
/>

<Tile
  title='Advertising & Marketing Communication'
  business='La Cité'
  location='Ottawa, Canada'
  date='September 2016 - April 2018'
  logo='images/la_cite.webp'
  logoAlt='La Cité Collegial Logo'
/>
