---
import SkillTile from "./SkillTile.astro";
---

<h2>SKILLS</h2>
<SkillTile
  skill='Languages'
  tags={[
    "C#",
    "Swift",
    "SwiftUI",
    "Java",
    "TypeScript",
    "HTML",
    "SASS",
    "Kotlin",
    "SQL",
    "JavaScript",
    "Python",
    "Shell",
    "CSS",
    "XML",
    "JSON",
  ]}
/>

<SkillTile
  skill='Frameworks & Libraries'
  tags={[
    "React.js",
    "Next.js",
    "Vue.js",
    "Angular",
    "Node.js",
    "Express.js",
    "Bootstrap",
    "jQuery",
    "Astro",
    "EJS",
    "Spring",
    "ASP.NET",
    "Vite",
  ]}
/>

<SkillTile
  skill='Databases/Hosting'
  tags={[
    "Azure",
    "MongoDB",
    "SQL Server",
    "Oracle Database",
    "Heroku",
    "Firebase/Firestore",
    "DigitalOcean",
  ]}
/>

<SkillTile
  skill='Tools'
  tags={[
    "Git",
    "Jira",
    "Figma",
    "IntelliJ",
    "Eclipse",
    "Visual Studio Code",
    "Postman",
    "MongoDB Compass",
    "Xcode",
    "Android Studio",
  ]}
/>
