---
import Github from "./Github.astro";
import LinkedIn from "./LinkedIn.astro";
import Youtube from "./Youtube.astro";
---

<div class='social-icons'>
  <Github url='https://github.com/BengeeL' />
  <LinkedIn url='https://www.linkedin.com/in/benjaminlefebvre1024/' />
  <Youtube url='https://www.youtube.com/@benjaminlefebvredev' />
</div>
