---
import ProjectTile from "./ProjectTile.astro";
---

<div>
  <h2>PROJECTS</h2>
  <ProjectTile
    image='images/LogoFS.png'
    title='FlavorShare'
    description='FlavorShare is an innovative iOS app that enhances your culinary experiences by sharing and discovering recipes. With an intuitive interface and rich features, Flavorshare is your go-to app for all things related to cooking and recipes.'
    toolsTags={[
      "xCode",
      "Figma",
      "Visual Studio Code",
      "MongoDB Compass",
      "Jira",
      "Github",
      "Postman",
    ]}
    frontendTags={["Swift", "SwiftUI", "Astro", "SASS"]}
    backendTags={[
      "Node.js",
      "Express.js",
      "TypeScript",
      "MongoDB Atlas",
      "Firebase Authentication",
      "DigitalOcean S3 Storage",
    ]}
  />
</div>
